@import './palette.css';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css');

:root {
  --f-pretendard: 'Pretendard';
}

html,
body {
  padding: 0;
  margin: 0;

  background-color: rgb(var(--background-color));
  color: rgb(var(--text-color));

  font-family: var(--font-family);
}

* {
  box-sizing: border-box;
}

input,
button,
select {
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}
